.testimonial{
    max-width: 73%;
    width: 100%;
    h1{
        margin-top: 3rem;
        font-weight: 900;
        font-size: 40px;
            
    }
    img{
        max-width: 50px;
        width: 100%;
    }
    .owl-dot{
        
        div{
            background-color: #ced4da;
            height: 10px;
            width: 10px;
        }
    }
}