.think{
    margin: 5rem;
    article{
        margin-bottom: 2rem;
        img{
            max-width: 70px;
            width: 100%;
            padding-bottom: 1rem;
        }
    }
    section{
        img{
            border-radius: 5px;
        }
    }
    
}