
.contactus{
    .txt{
        margin-top: 5rem;
        margin-bottom: 8rem;

    }

    .icon{
        margin-right: 2rem;
    }
    li{
        margin-block: 5px;
    }
    input{
        width: 60%;
        outline: none;
    }
    button{
        width: 40%;
        border-radius: 0px 18px 18px 0px;        
    }
    
}