.contact{
    background-color: #F8F9FA;
    h1{
        margin-block: 3rem;
        font-weight: 900;
        font-size: 40px;
        padding-block: 1rem;
    }
    input{
        border-radius: 50px;
        
    }
    .txt{
        width: 100%;
    }
    textarea{
        border-radius: 15px;

    }
}